@import "tailwindcss";

@theme {
  --color-neutral-50: oklch(0.966 0.008 224.96);
  --color-neutral-100: oklch(0.921 0.02 225.68);
  --color-neutral-200: oklch(0.851 0.039 224.31);
  --color-neutral-300: oklch(0.773 0.044 222.89);
  --color-neutral-400: oklch(0.705 0.04 221.99);
  --color-neutral-500: oklch(0.626 0.036 223.74);
  --color-neutral-600: oklch(0.557 0.032 225.13);
  --color-neutral-700: oklch(0.479 0.027 224.16);
  --color-neutral-800: oklch(0.412 0.024 221.34);
  --color-neutral-900: oklch(0.339 0.019 223.25);
  --color-neutral-950: oklch(0.24 0.014 220.14);

  --color-primary-50: oklch(0.99 0.015 158.12);
  --color-primary-100: oklch(0.969 0.046 159.06);
  --color-primary-200: oklch(0.947 0.077 160.07);
  --color-primary-300: oklch(0.914 0.133 159.81);
  --color-primary-400: oklch(0.883 0.193 159.5);
  --color-primary-500: oklch(0.862 0.188 159.65);
  --color-primary-600: oklch(0.715 0.156 159.72);
  --color-primary-700: oklch(0.573 0.126 159.47);
  --color-primary-800: oklch(0.43 0.094 159.61);
  --color-primary-900: oklch(0.277 0.061 159.1);
  --color-primary-950: oklch(0.212 0.046 159.82);

  --color-red-50: oklch(0.968 0.014 22.88);
  --color-red-100: oklch(0.925 0.033 20.1);
  --color-red-200: oklch(0.862 0.067 23.11);
  --color-red-300: oklch(0.789 0.11 25.31);
  --color-red-400: oklch(0.718 0.161 28.06);
  --color-red-500: oklch(0.651 0.212 32.94);
  --color-red-600: oklch(0.546 0.178 32.8);
  --color-red-700: oklch(0.448 0.145 33.07);
  --color-red-800: oklch(0.35 0.113 32.89);
  --color-red-900: oklch(0.242 0.078 33.02);
  --color-red-950: oklch(0.194 0.063 32.79);

  --color-yellow-50: oklch(0.983 0.012 67.7);
  --color-yellow-100: oklch(0.967 0.024 73.61);
  --color-yellow-200: oklch(0.924 0.059 74.42);
  --color-yellow-300: oklch(0.891 0.093 78.24);
  --color-yellow-400: oklch(0.856 0.135 80.9);
  --color-yellow-500: oklch(0.819 0.159 83.2);
  --color-yellow-600: oklch(0.685 0.132 83.14);
  --color-yellow-700: oklch(0.547 0.106 83.29);
  --color-yellow-800: oklch(0.407 0.079 83.29);
  --color-yellow-900: oklch(0.277 0.054 82.15);
  --color-yellow-950: oklch(0.209 0.041 83.24);

  --color-blue-50: oklch(0.965 0.015 273.9);
  --color-blue-100: oklch(0.922 0.034 269.33);
  --color-blue-200: oklch(0.855 0.067 266.2);
  --color-blue-300: oklch(0.777 0.105 263.68);
  --color-blue-400: oklch(0.71 0.142 259.75);
  --color-blue-500: oklch(0.635 0.182 254.6);
  --color-blue-600: oklch(0.536 0.154 254.65);
  --color-blue-700: oklch(0.432 0.124 254.63);
  --color-blue-800: oklch(0.338 0.097 254.65);
  --color-blue-900: oklch(0.235 0.066 254.08);
  --color-blue-950: oklch(0.188 0.055 255.24);
}

body {
  @apply bg-neutral-900;
}
